* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.header {
    text-align: center;
    background-color: #595959;
    width: 100%;
    padding: 20px 0;
    color: white;
}

.header h2 {
    margin: 10px 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-size: 14px;
}

form input, form textarea, form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}

form textarea {
    height: 100px;
}

form input[type="file"] {
    padding: 5px;
}

form .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form .checkbox-container input {
    margin-right: 15px; 
    margin-top: 14px; 
    width: auto;
}

form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: white;
    font-size: 12px;
    color: #333;
    position: absolute;
    width: 100%;
    bottom: 0;
}